<h1>Διαχείριση Χρηστών</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Όνομα χρήστη</th>
      <th>Ρόλος</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(user => { %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td><%= user.role %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
