<h1>Επαναφορά Κωδικού Χρήστη</h1>

<form action="/users/reset-password" method="POST">
  <div class="mb-3">
    <label for="username" class="form-label">Όνομα χρήστη</label>
    <input type="text" class="form-control" id="username" name="username" required>
  </div>

  <div class="mb-3">
    <label for="newPassword" class="form-label">Νέος Κωδικός</label>
    <input type="password" class="form-control" id="newPassword" name="newPassword" required>
  </div>

  <button type="submit" class="btn btn-warning">Αλλαγή Κωδικού</button>
</form>
